@{
    ViewData["Title"] = "Home Page";
}

<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2>Welcome to Tuso Helpdesk System</h2>
          <p>Facere distinctio molestiae nisi fugit tenetur repellat non praesentium nesciunt optio quis sit odio nemo quisquam. eius quos reiciendis eum vel eum voluptatem eum maiores eaque id optio ullam occaecati odio est possimus vel reprehenderit</p>

          <div class="form-search d-flex align-items-stretch mb-3">
            <input type="text" class="form-control" placeholder="Search here...">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>

        </div>

        <div class="col-lg-5 order-1 order-lg-2 hero-img">
          <img src="assets/img/img1.png" class="img-fluid mb-3 mb-lg-0" alt="">
        </div>

      </div>
    </div>
  </section>
  <main id="main">

    <!---- Setting Section ---->
    <section id="featured-services" class="featured-services">
        <div class="container">

          <div class="row gy-4">
            <div class="col-lg-4 col-md-6 service-item d-flex">
              <div class="icon flex-shrink-0"><i class="fa-solid fa-cart-flatbed"></i></div>
              <div>
                <h4 class="title">Submit an Incident</h4>
                <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    It been the industry's standard dummy text ever since.</p>
                <a href="/Ticket/Create" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
        
            <div class="col-lg-4 col-md-6 service-item d-flex">
              <div class="icon flex-shrink-0"><i class="fa-solid fa-truck"></i></div>
              <div>
                <h4 class="title">FAQ</h4>
                <p class="description">Frequently asked questions about Lorem Ipsum. 
                    a sense of Latin derivation that make up a text also known as filler text.</p>
                <a href="#" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 service-item d-flex">
              <div class="icon flex-shrink-0"><i class="fa-solid fa-truck-ramp-box"></i></div>
              <div>
                <h4 class="title">My Settings</h4>
                <p class="description"> Keep your settings up to date, manage your contact details, language settings and more.</p>
                <a href="#" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- End Setting Section -->


    <!--Service Section-->
    <div class="row align-items-center bg-light">
        <div class="col-12 col-lg-5 mt-16 order-last order-lg-first">
          <img class="img-fluid d-block mx-auto ms-lg-0" src="/assets/img/img4.png" alt="">
        </div>

        <div class="col-12 col-lg-7 p-2">
          <div class=" mx-auto">
            
            <h2 class="display-3 mb-10 ms-2">
              <span class="d-block fw-normal">Your assets:</span>
              <span class="fw-normal">Get Expert Advice Here.</span>
            </h2>
            <p class="fw-normal text-muted lh-lg mb-8 ms-2">Find All Info You Want. Quick Answers.</p>
            <a class="btn btn-primary ms-2" href="#">Learn More</a>
          </div>
        </div>
    </div>  
</main>