@using TUSO.Domain.Entities
@model TUSO.Domain.Entities.HolidayList

@{
    ViewData["Title"] = "HolidayList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/app-assets/vendors/js/jquery/jquery.min.js"></script>
<script src="~/js/holidayList.js"></script>

<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="#">Configure</a>
                                </li>

                                <li class="breadcrumb-item active"> Holiday List </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Validation -->
            <section class="bs-validation">
                <div class="row">
                    <div class="col-12">
                        <div class="row" id="basic-table">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Holiday list</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table datatables-basic">
                                                <thead>
                                                    <tr>
                                                        <th>Sl</th>
                                                        <th>Holiday</th>
                                                        <th>Day Name</th>
                                                        <th>Description</th>                                                     
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>

                                                <tbody id="companydata">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal modal-slide-in fade" id="modals-slide-in">
                        <div class="modal-dialog sidebar-sm">
                            <form id="jquery-val-form" method="post" class="add-new-record modal-content pt-0">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
                                <div class="modal-header mb-1">
                                    <h5 class="modal-title">Add Weekend </h5>
                                </div>
                                <div class="modal-body flex-grow-1">
                                    <input id="oid" type="hidden" asp-for="OID"/>
                               
                                    <div class="mb-1">
                                        <label class="form-label" for="DayName">Day Name</label>
                                        <select asp-for="DayName" id="dayName" class="form-select">
                                             <option value="6">Saturday</option>
                                             <option value="7">Sunday</option>
                                             <option value="1">Monday</option>
                                             <option value="2">Tuesday</option>
                                             <option value="3">Wednesday</option>
                                             <option value="4">Thursday</option>
                                             <option value="5">Friday</option>                                         
                                        </select>
                                    </div>

                                    <button type="submit" class="btn btn-primary data-submit me-1" asp-controller="HolidayList" asp-action="Create" action="POST">Submit</button>
                                    <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                </div>

                            </form>
                        </div>
                    </div>

                    <div class="modal modal-slide-in fade" id="modals-slide-in-1">
                        <div class="modal-dialog sidebar-sm">
                            <form id="jquery-val-form" method="post" class="add-new-record modal-content pt-0">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
                                <div class="modal-header mb-1">
                                    <h5 class="modal-title">Entry panel</h5>
                                </div>
                                <div class="modal-body flex-grow-1">
                                    <input id="oid" type="hidden" asp-for="OID"/>

                                    <div class="mb-1">
                                        <label class="form-label" for="Holiday">Start holiday</label>
                                        <input id="holiday" type="date" name="from" value="" class="form-control"  placeholder="Holiday Date" asp-for="Holiday" autocomplete="off"/>
                                    </div>
                                    <div class="mb-1">
                                        <label class="form-label" for="Holiday">End Holiday</label>
                                        <input id="holiday" type="date" name="to" value="" class="form-control"  placeholder="Holiday Date" asp-for="Holiday" autocomplete="off"/>
                                    </div>
                                    <div class="mb-1">
                                        <label class="form-label" for="DayName">Day Name</label>
                                        <input type="text" value="" class="form-control" id="dayName" asp-for="DayName" autocomplete="off" />
                                    </div>
                                    <div class="mb-1">
                                        <label class="form-label" for="Discription">Description</label>
                                        <input id="discription" type="text" value="" class="form-control" placeholder="Description" asp-for="Discription" autocomplete="off"/>
                                    </div>
                                    <button type="submit" class="btn btn-primary data-submit me-1" asp-controller="HolidayList" asp-action="AddVacation" action="POST">Submit</button>
                                    <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>



